<!DOCTYPE html>
<html  lang="en">
    <head>
        <%- include("../fragmente/head.ejs"); %>
        <style>
            /*display all elements inside main in a grid*/
            main {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
        </style>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs"); %>
        </header>
        <main>
            <section>
            <h2> Error 404. </h2>
                <br/>
                Go look somewhere else.
            </section>
            <br/>
            <div><iframe name="ifr-video" width="800" height="400" src="/resurse/chromedino.html"> </iframe></div>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs"); %>
        </footer>
    </body> 

</html>


