<!DOCTYPE html>
<html  lang="en">
    <head>
        <%- include("../fragmente/head.ejs"); %>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs"); %>
        </header>
        <main>
            <section>
            <h2> Error 404. </h2>
                <br/>
                Go look somewhere else.
            </section>
            <br/>
            <div><iframe name="ifr-video" width="800" height="400" src="/resurse/chromedino.html"> </iframe></div>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs"); %>
        </footer>
    </body> 

</html>


