html
{
    font-size: 16px;
}

body
{
    --glb: #FFF000;
    --org: #FF8C00;
    --red: red;
    --dkb: #33055e;
    --lib: #0D84FF;
}
/* big grid hours */
main
{
    display: grid;
    grid-template-areas: "f-newr f-newr f-newr"
                         "f-calendargr f-tabelgr f-anunturigr"
                         "f-z8gr f-z8gr f-z8gr"
                         "f-aboutgr f-onlinegr f-userstatgr";
    grid-template-columns: 1fr 1fr 1fr;
}

/* mid grid hours */
@media screen and (max-width: 1200px)
{
    main
    {
        display: grid;
        grid-template-areas: "f-newr f-newr"
                         "f-calendargr f-tabelgr"
                         "f-z8gr f-z8gr"
                         "f-aboutgr f-onlinegr"
                         "f-anunturigr f-userstatgr";
        grid-template-columns: 1fr 1fr;
    }

    html
    {
        font-size: 15px;
    }
}

/* smol grid hours */
@media screen and (max-width: 800px)
{
    main
    {
        display: grid;
        grid-template-areas: "f-newr"
                             "f-calendargr"
                             "f-tabelgr"
                             "f-z8gr"
                             "f-aboutgr"
                             "f-onlinegr"
                             "f-anunturigr"
                             "f-userstatgr";
        grid-template-columns: 1fr;
    }

    html
    {
        font-size: 14px;
    }
}

ul
{
    list-style:none;
}
section
{
    margin: 10px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
}
#temp1
{
    grid-area: f-calendargr;
}
#temp2
{
    grid-area: f-tabelgr;
}
#temp3
{
    grid-area: f-anunturigr;
}
#new-releases
{
    grid-area: f-newr;
}
#sneakers
{
    grid-area: f-z8gr;
}
#tshirts
{
    grid-area: f-onlinegr
}
#faq
{
    grid-area: f-userstatgr;
}
#socks
{
    grid-area: f-tabelgr
}
#links
{
    grid-area: f-aboutgr;
}
/**
{ 
    margin:0px;
    padding:0px;
    text-indent:0px;
}*/
body
{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1
{
    text-shadow: 2px 2px 5px black;
    width:100%;
    position:fixed;
    top: 0px;
    text-align: center;
    display:block;
    background-image: linear-gradient(to bottom, black, var(--dkb), var(--dkb), var(--dkb));
    color: white;
    height:4rem;
    margin: auto;
}

nav
{
    width:100%;
    position:fixed;
    top:38px;
    left: 0px;
    z-index: 20;
}

ul.menu > li, ul.menu > ul.submenu > li
{
    display:block;
    font-size:1.2rem;
	font-weight:bold;
	height:3rem;
	line-height:3rem;
	text-align:center;		
	list-style-type:none;
	overflow:hidden;
}
ul.menu, ul.submenu
{
    margin:0px;
    padding:0px;
    text-indent:0px;
}
ul.menu > li
{
    float:left;
    width:25%;
}
ul.submenu > li
{
    width:100%;
}
ul.menu > li > a, ul.menu > li > div, ul.submenu > li > a
{
    transition: 0.5s;
    display:block;
    height:	100%;
    text-decoration:none;
    color:white;
}
ul.menu > li > ul.submenu
{
    position:relative;
    top:0px;
}

ul.menu > li > ul.submenu > li
{
    border-left:0px solid black;
    border-right:0px solid black;
}
ul.menu > li > ul.submenu > li:last-child
{
    border-bottom:0px solid black;
}
ul.menu > li > a, ul.submenu > li > a
{
    background: var(--dkb);
}
@keyframes pog
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes unpog {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  
/* ul.menu > li:hover ul.menu > li > ul.submenu > li > a
{
    
} */
ul.menu > li > a:hover, ul.submenu > li > a:hover
{
    background:var(--red);
    transition: 0.5s;
}
ul.menu > li:hover
{
    overflow:visible;
}
ul.menu > li:hover .submenu
{
    animation-duration: 0.3s;
    animation-name: pog;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
}

a:link
{
    color:var(--lib);
}

a:visited
{
    color:var(--dkb);
}

