html
{
    font-size: 16px;
}

body
{
    --glb: #FFF000;
    --org: #FF8C00;
    --red: red;
    --dkb: #33055e;
    --lib: #0D84FF;
}
/* big grid hours */
main {
    display: grid;
    grid-template-areas: "f-newr f-newr f-newr"
                         "f-calendargr f-tabelgr f-anunturigr"
                         "f-z8gr f-z8gr f-z8gr"
                         "f-aboutgr f-onlinegr f-userstatgr";
    grid-template-columns: 1fr 1fr 1fr;
}
section {
    margin: 10px;
}
#temp1
{
    grid-area: f-calendargr;
}
#temp2
{
    grid-area: f-tabelgr;
}
#temp3
{
    grid-area: f-anunturigr;
}
#new-releases
{
    grid-area: f-newr;
}
#sneakers
{
    grid-area: f-z8gr;
}
#tshirts
{
    grid-area: f-onlinegr
}
#faq
{
    grid-area: f-userstatgr;
}
#socks
{
    grid-area: f-tabelgr
}
#links
{
    grid-area: f-aboutgr;
}
*
{ /* resetarea spatierilor */
    margin:0px;
    padding:0px;
    text-indent:0px;
}
body
{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1
{
    width:100%;
    position:fixed;
    left: 50px;
}

nav
{
    width:100%;
    position:fixed;
    top:50px;
    left: 0px;
}

ul.menu > li, ul.menu > ul.submenu > li
{
    display:block;
    font-size:1.2rem;
	font-weight:bold;
	height:3rem;
	line-height:3rem;
	text-align:center;		
	list-style-type:none;
	overflow:hidden;
}

ul.menu > li
{
    float:left;
    width:25%;
}
ul.submenu > li
{
    width:100%;
}
ul.menu > li > a, ul.menu > li > div, ul.submenu > li > a
{
    display:block;
    height:	100%;
    text-decoration:none;
    color:black;
}
ul.menu > li > ul.submenu
{
    position:relative;
    top:0px;
}

ul.menu > li > ul.submenu > li
{
    border-top:1px solid black;
}
ul.menu > li > ul.submenu > li:last-child
{
    border-bottom:1px solid black;
}

ul.menu > li > a:hover, ul.submenu > li > a:hover
{
    background:yellow;
}
ul.menu > li:hover
{
    overflow:visible;
}

ul.menu > li > a
{
    background:black
}

main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
}
