/*facem vizibil iconul de hamburger menu*/

#hamburger{
    display:block;
    position:fixed;
    top: 0px;
}
/* implicit menul e ascuns*/
ul.menu{
    display:none;
    position:absolute;
    width:100%;
}

.zerou
{
    font-size:0;
}
.zerou::after
{
    content: "";
}

/*aici facem vizibil menul cand faem click pe hamburger menu*/
#ch-menu:checked+ul.menu{
    display: block;
    z-index: 2;
    position: relative;
    transform-origin: 0 0;
    animation-name: aparitie_menu_p;
    animation-iteration-count:1;
    animation-duration:0.7s;
}
#ch-menu:checked+ul.menu>li>div,#ch-menu:checked+ul.menu>li>a{
    
    z-index: 2;
    position: relative; 
    animation-name: aparitie_menu_p_btn;
    animation-iteration-count:1;
    animation-duration:0.7s;
}

/*optiunile se intind pe toata latimea containerului*/
nav ul.menu li{
    width:100%;
}

/*menul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/
nav ul.menu>li ul{
    position:absolute;
    width:100%;
    z-index:200;
    transform:scale(1,1);
}

.makewhite
{
    color:white;
}

#ch-menu:checked+ul.menu>li ul>*{
    position:relative;
    z-index:200;
}
nav ul.menu>li:hover>ul{
    
    z-index:200;
    animation:none;
}

@keyframes aparitie_menu_p{
    0%{
        clip-path: circle(0% at 0 0);
    } 
	100%{
    	clip-path: circle(400%)
    }
}

@keyframes aparitie_menu_p_btn{

}

ul.menu > li > a:hover
{
    background:var(--red);
    transition: .4s;
}