            <br/>
            <!-- <h2><a href="#">Go to top.</a></h2> -->
            <a href = "#"><div class="doutside" title="du-te sus"><div class="dinside"></div></div></a>
            <br/>
            <a href="tel:0780012344">Call 0780012344 for any questions.</a>
            <br/><br/>
            <a href="mailto:streetwear@bonk.com">Email us at streetwear@bonk.com.</a>
            <br/><br/>
            <a href="https://wa.me/0780012344">Message us on WhatsApp.</a>
            <br/><br/>

            <address>
                <a href="https://goo.gl/maps/SiZBh2QviwXgiSd66" target="_blank" rel="noopener noreferrer"> Aleea adidasilor, nr. 23, București, sector 4, România </a>
            </address>
            <br/><br/>
            <p><time datetime="2022-02-20"><small> &copy; CataG 20 feb 2022</small></time></p>