<a href="index.html"><h1>BONK!</h1></a>
<nav class="wrapper">
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/burgir-alb.png" alt="burgir" height=33px width=33px>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="menu">
        <li>
            <div><a href="index"><i class="fa-solid fa-house" style="color:white"> </i><a class="zerou" style="color:white" href="index"> Homepage</a></a></div>
            <ul class="submenu">
                <li><a href="#new-releases">New Releases</a></li>
                <li><a href="#sneakers">Sneakers</a></li>
                <li><a href="#socks">Socks</a></li>
                <li><a href="#tshirts">T-Shirts</a></li> 
                <li><a href="#faq">FAQ</a></li> 
            </ul>
        </li>

        <li><a href="other">Other</a></li>
        <li><a href="calendar">Calendar</a></li>
        <li><a href="about">About</a></li> 

    </ul>
</nav>